# Import

In [15]:
import pandas as pd
from sodapy import Socrata
from api_keys import *
import datetime

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.dallasopendata.com", app_token)

In [3]:
#grab data from api
#sdr7-6v3j is the dataset code from sodapy
all_data = client.get_all("sdr7-6v3j")

#turn into pandas df
data_df = pd.DataFrame.from_records(all_data)

In [4]:
data_df.sort_values(by='ararrestdate',ascending=False, inplace=True)
data_df

,incidentnum,arrestyr,arrestnumber,ararrestdate,ararresttime,arbkdate,arladdress,arlzip,arlcity,arstate,...,employer,drugtype,nickname,armedloc,tatoocomment,arcond,drug,aliasname,transport3,search1
87,198599-2022,2022,22-031371,2022-11-02T00:00:00.000,00:09,2022-11-02T02:37:25.000,1930 ATLANTIC ST,75208,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,198515-2022,2022,22-031341,2022-11-01T00:00:00.000,20:10,2022-11-01T23:53:46.000,10946 PARK OAK CIR,75228,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,198496-2022,2022,22-031347,2022-11-01T00:00:00.000,20:19,2022-11-01T22:15:28.000,4503 S LANCASTER RD,75216,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,197943-2022,2022,22-031273,2022-11-01T00:00:00.000,01:52,2022-11-01T07:40:24.000,5200 HARRY HINES BLVD,75235,DALLAS,TX,...,NaN,NaN,NaN,PMH,NaN,NaN,NaN,NaN,NaN,NaN
252,198403-2022,2022,22-031331,2022-11-01T00:00:00.000,17:40,2022-11-01T19:10:29.000,8150 N STEMMONS FWY,75247,DALLAS,TX,...,NaN,NaN,RICKY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94604,0132086-2014,2014,14-023839,2014-05-31T00:00:00.000,23:30,2014-06-01T02:36:01.000,4200 W CAMP WIDSOM RD,75223,Dallas,TX,...,NaN,NaN,NaN,NaN,NAME AND BIRTH YEAR,NaN,Yes,NaN,NaN,NaN
82846,0132086-2014,2014,14-023850,2014-05-31T00:00:00.000,23:30,2014-06-01T03:19:31.000,4200 W CAMP WIDSOM RD,75223,Dallas,TX,...,NaN,NaN,NaN,NaN,CHEST AND BOTH ARMS,NaN,NaN,NaN,NaN,NaN
84190,132152-2014,2014,14-023853,2014-05-31T00:00:00.000,20:40,2014-06-01T04:33:21.000,1910 S BUCKNER BLVD,75232,Dallas,TX,...,NaN,NaN,NaN,NaN,"""TEXAS OUTLINE"" AND ""STAR""",NaN,NaN,NaN,NaN,NaN
88906,156034-2014,2014,14-028046,2014-05-25T00:00:00.000,01:45,2014-06-29T02:15:11.000,400 HARWOOD ST,75201,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89192,158146-2014,2015,15-050836,2014-01-01T00:00:00.000,15:24,NaN,9965 MOUNTAIN BEND CIR,75217,DALLAS,TX,...,NaN,NaN,NaN,Green Oaks,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_df.columns
#looking for only certain columns
#'incidentnum', 'arrestnumber', 'ararrestdate', 'ararresttime', 'arpremises', 'arladdress', 'arlzip','sex','drugrelated','drugtype','age'

Index(['incidentnum', 'arrestyr', 'arrestnumber', 'ararrestdate',
       'ararresttime', 'arbkdate', 'arladdress', 'arlzip', 'arlcity',
       'arstate', 'arlcounty', 'arlra', 'arlbeat', 'arldistrict', 'aradow',
       'arpremises', 'cfs_number', 'arofcr1', 'transport1', 'araction',
       'arweapon', 'arcurrloc', 'arresteename', 'birthplace', 'age',
       'ageatarresttime', 'haddress', 'hzip', 'hcity', 'hstate', 'hra',
       'hbeat', 'height', 'weight', 'hair', 'eyes', 'race', 'ethnic', 'sex',
       'drugrelated', 'clothingworn', 'upzdate', 'arlapt', 'arlsector',
       'arofcr2', 'hapt', 'transport2', 'tatoo', 'occupation', 'employer',
       'drugtype', 'nickname', 'armedloc', 'tatoocomment', 'arcond', 'drug',
       'aliasname', 'transport3', 'search1'],
      dtype='object')

In [36]:
#decrease the amount of data to filter by today or past week, month, and year
#creating the variables to filter through the df's
today = datetime.date.today()
week = today - datetime.timedelta(days=7)
month = today - datetime.timedelta(days=30)
year = (today - datetime.timedelta(days=365)).strftime('%Y-%m-%d')
today = today.strftime('%Y-%m-%d')
week = week.strftime('%Y-%m-%d')
month = month.strftime('%Y-%m-%d')

In [43]:
#filter through the dataframes descending to not constantly work with big data for each filter
year_df = data_df[(data_df['ararrestdate'] >= year)]
month_df = year_df[(year_df['ararrestdate'] >= month)]
week_df = month_df[(month_df['ararrestdate'] >= week)]
today_df = week_df[(week_df['ararrestdate'] >= today)]