# Import

In [ ]:
import pandas as pd
from sodapy import Socrata
from api_keys import *
import datetime

In [ ]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.dallasopendata.com", app_token)

In [ ]:
#grab data from api
#sdr7-6v3j is the dataset code from sodapy
all_data = client.get_all("sdr7-6v3j")

#turn into pandas df
data_df = pd.DataFrame.from_records(all_data)

In [ ]:
data_df.sort_values(by='ararrestdate',ascending=False, inplace=True)
data_df

,incidentnum,arrestyr,arrestnumber,ararrestdate,ararresttime,arbkdate,arladdress,arlzip,arlcity,arstate,...,arlapt,nickname,tatoo,armedloc,arcond,tatoocomment,drug,aliasname,transport3,search1
52,198599-2022,2022,22-031371,2022-11-02T00:00:00.000,00:09,2022-11-02T02:37:25.000,1930 ATLANTIC ST,75208,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,197943-2022,2022,22-031273,2022-11-01T00:00:00.000,01:52,2022-11-01T07:40:24.000,5200 HARRY HINES BLVD,75235,DALLAS,TX,...,NaN,NaN,NaN,PMH,NaN,NaN,NaN,NaN,NaN,NaN
156,198501-2022,2022,22-031339,2022-11-01T00:00:00.000,20:28,2022-11-01T21:20:50.000,3200 CANTON ST,75226,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,198025-2022,2022,22-031285,2022-11-01T00:00:00.000,05:40,2022-11-01T06:48:51.000,2700 N STEMMONS FWY,75207,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,198005-2022,2022,22-031283,2022-11-01T00:00:00.000,04:00,2022-11-01T06:33:41.000,11000 MORRISON LN,75229,DALLAS,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82838,0132086-2014,2014,14-023850,2014-05-31T00:00:00.000,23:30,2014-06-01T03:19:31.000,4200 W CAMP WIDSOM RD,75223,Dallas,TX,...,NaN,NaN,TAT FLBODY,NaN,NaN,CHEST AND BOTH ARMS,NaN,NaN,NaN,NaN
94604,0132086-2014,2014,14-023839,2014-05-31T00:00:00.000,23:30,2014-06-01T02:36:01.000,4200 W CAMP WIDSOM RD,75223,Dallas,TX,...,NaN,NaN,TAT R ARM,NaN,NaN,NAME AND BIRTH YEAR,Yes,NaN,NaN,NaN
84190,132152-2014,2014,14-023853,2014-05-31T00:00:00.000,20:40,2014-06-01T04:33:21.000,1910 S BUCKNER BLVD,75232,Dallas,TX,...,NaN,NaN,TAT NECK,NaN,NaN,"""TEXAS OUTLINE"" AND ""STAR""",NaN,NaN,NaN,NaN
88915,156034-2014,2014,14-028046,2014-05-25T00:00:00.000,01:45,2014-06-29T02:15:11.000,400 HARWOOD ST,75201,DALLAS,TX,...,NaN,NaN,TAT WRS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89183,158146-2014,2015,15-050836,2014-01-01T00:00:00.000,15:24,NaN,9965 MOUNTAIN BEND CIR,75217,DALLAS,TX,...,NaN,NaN,NaN,Green Oaks,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# data_df.columns
#looking for only certain columns
#'incidentnum', 'arrestnumber', 'ararrestdate', 'ararresttime', 'arpremises', 'arladdress', 'arlzip','sex','drugrelated','drugtype','age'
data_df = data_df[['incidentnum', 'arrestnumber', 'ararrestdate', 'ararresttime', 'arpremises', 'arladdress', 'arlzip','sex','drugrelated','drugtype','age']]
data_df.head()

,incidentnum,arrestnumber,ararrestdate,ararresttime,arpremises,arladdress,arlzip,sex,drugrelated,drugtype,age
52,198599-2022,22-031371,2022-11-02T00:00:00.000,00:09,Apartment Complex/Building,1930 ATLANTIC ST,75208,Male,No,NaN,28
152,197943-2022,22-031273,2022-11-01T00:00:00.000,01:52,"Highway, Street, Alley ETC",5200 HARRY HINES BLVD,75235,Male,No,NaN,34
156,198501-2022,22-031339,2022-11-01T00:00:00.000,20:28,"Highway, Street, Alley ETC",3200 CANTON ST,75226,Male,No,NaN,51
58,198025-2022,22-031285,2022-11-01T00:00:00.000,05:40,"Highway, Street, Alley ETC",2700 N STEMMONS FWY,75207,Male,Uknown,NaN,23
27,198005-2022,22-031283,2022-11-01T00:00:00.000,04:00,"Highway, Street, Alley ETC",11000 MORRISON LN,75229,Male,No,NaN,21

In [22]:
data_df = data_df.loc[((data_df['drugrelated']=='Yes') | (data_df['drugrelated']=='Uknown'))]
data_df.head()

,incidentnum,arrestnumber,ararrestdate,ararresttime,arpremises,arladdress,arlzip,sex,drugrelated,drugtype,age
58,198025-2022,22-031285,2022-11-01T00:00:00.000,05:40,"Highway, Street, Alley ETC",2700 N STEMMONS FWY,75207,Male,Uknown,NaN,23
50,198023-2022,22-031292,2022-11-01T00:00:00.000,05:40,NaN,8550 N STEMMONS SERV NB,75247,Male,Yes,Cultivated Marijuana,22
45,198001-2022,22-031279,2022-11-01T00:00:00.000,03:04,NaN,9147 SKILLMAN ST,75243,Male,Uknown,NaN,31
39,198577-2022,22-031360,2022-11-01T00:00:00.000,23:00,"Highway, Street, Alley ETC",9600 C F HAWN SERV WB,75217,Male,Yes,Methamphetamine,42
166,198195-2022,22-031311,2022-11-01T00:00:00.000,13:00,Convenience Store,2603 S LANCASTER RD,75216,Male,Yes,Cultivated Marijuana,23

In [23]:
#decrease the amount of data to filter by today or past week, month, and year
#creating the variables to filter through the df's
today = datetime.date.today()
week = today - datetime.timedelta(days=7)
month = today - datetime.timedelta(days=30)
year = (today - datetime.timedelta(days=365)).strftime('%Y-%m-%d')
today = today.strftime('%Y-%m-%d')
week = week.strftime('%Y-%m-%d')
month = month.strftime('%Y-%m-%d')

In [24]:
#filter through the dataframes descending to not constantly work with big data for each filter
year_df = data_df[(data_df['ararrestdate'] >= year)]
month_df = year_df[(year_df['ararrestdate'] >= month)]
week_df = month_df[(month_df['ararrestdate'] >= week)]
today_df = week_df[(week_df['ararrestdate'] >= today)]

filters = [year_df, month_df, week_df, today_df]

In [25]:
for df in filters:
    for index, row in df.iterrows():
        split = row['ararrestdate'].split('T')
        row['ararrestdate'] = split[0]